<% content_for :body_class, "user" %>

<div class="row">
  <div class="col-lg-9">
<%= render 'shared/content_title', title: 'Register A New User' %>
  </div>
</div><!-- end .row -->
<%= render 'shared/errors', object: @user %>


<%= render 'form' %>