<div class="row">
  <div class="col-lg-9">
    <%= render 'shared/content_title', title: 'Edit Post' %>
  </div>
</div><!-- end .row -->

<%= render 'shared/errors', object: @post %>

<%= render 'form' %>